{
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["**/es/*", "**/lib/*", "*.spec.ts"],
  "rules": {
    "import/prefer-default-export": 0
  }
}